@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Zen+Kaku+Gothic+New&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+Mono:wght@100..900&family=Zen+Kaku+Gothic+New&display=swap');

* {
    --color-pow: linear-gradient(transparent 80%, #d46344 80%);
    --color-spd: linear-gradient(transparent 80%, #4368d7 80%);
    --color-wiz: linear-gradient(transparent 80%, #2faf80 80%);

    font-family: Bahnschrift, "Zen Kaku Gothic New";
    font-weight: 400;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #051114, #14242c);
    background-attachment: fixed;
    background-size: 100vw 100dvh;
    color: #dfdfdf;
}
@media screen and (min-width: 800px) {
    body {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 328px 1fr;
    }
    #search-condision > form {
        position: sticky;
        top: 0;
    }
}
#search-condision {
    width: 100%;
}
#search-condision > form {
    position: sticky;
    top: 0;
    margin: 0 auto;
    box-sizing: border-box;
    width: calc(100% - 10px);
    max-width: 328px;
    border: solid 2px #5da4cb;
    box-shadow: 4px 4px#5da4cb;
    border-radius: 14px;
    padding: 3px 6px 3px 3px;
}
#search-condision__title {
    width: 100%;
    text-align: center;
    font-size: 1.0lh;
    font-weight: bold;
}
#search-condision__status {
    width: 100%;
    margin: 12px 0;
}
#search-condision__status > dl {
    display: grid;
    grid-template-columns: 48px 1fr;
    text-align: center;
    margin: 0;
}
.search-condision__status-label {
    text-align: left;
    place-content: center;
    line-height: 24px;
}
.search-condision__status-list {
    margin: 0;
    padding: 0;
}
.search-condision__status-list > ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(58px, 1fr));
    margin: 0;
    padding: 0;
}
.search-condision__status-row {
    list-style: none;
    line-height: 24px;
}
.search-condision__row-label {
    display: inline-block;
    width: 16px;
    vertical-align: middle;
}
.search-condision__row-label::after {
    content: ':';
}
#search-condision__filter {
    width: 100%;
    display: grid;
    grid-template-columns: 68px 1fr;
    margin: 0;
    padding: 0;
}
#search-condision__filter > dt,
#search-condision__filter > dd {
    vertical-align: middle;
    line-height: 28px;
    margin: 0;
}
#search-condision__control {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: right;
}
#search-condision__control > ul {
    width: 100%;
    display: grid;
    margin: 12px 0;
    padding: 0;
}
#search-condision__control > ul > li {
    list-style: none;
}
#search-condision__meta {
    text-align: center;
    font-size: 0.5lh;
}
.search-condision__select,
.search-condision__button {
    vertical-align: middle;
    height: 1.4lh;
    background-color: #5e939e;
    border: none;
    cursor: pointer;
}

#search-result {
    width: 100%;
    max-width: 952px;
    margin: 0;
    box-sizing: border-box;
    padding: 3px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.search-result__pattern {
    animation: fadeIn 1s ease 0s 1 normal backwards;
    width: calc(100% - 25px);
    margin: 5px 0;
    padding: 3px;
    list-style: none;
    border: solid 2px #425b69;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: #162832;
}
.search-result__list {
    width: 100%;
    margin: 3px 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
}
.search-result__paradox {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.search-result__detail {
    width: 100%;
    margin: 0;
    padding: 0;
}
.search-result__name {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #4f8995;
}
.search-result__name-title {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #d3cba8;
}
.search-result__skills {
    width: 100%;
    margin: 0;
    padding: 0;
}
.search-result__skill-list {
    padding-left: 32px;
}
#search-result__next {
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
}
#search-result__next:hover {
    text-decoration: none;
}

.search-result__skill-row {
    color: #87d2e1;
    vertical-align: middle;
}
.search-result__skill-row::marker {
    content: "・ ";
}
.search-result__skill-row--mark {
    text-decoration: underline;
    font-weight: bold;
    color: #e9ff56;
}

#search-scroll {
    position: fixed;
    right: 20;
    bottom: 20;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border: solid 2px #5da4cb;
    box-shadow: 2px 2px#5da4cb;
    border-radius: 14px;
    cursor: pointer;
    user-select: none;
    background-color: #051114;
}
#search-scroll:active {
    right: 18;
    bottom: 18;
    box-shadow: none;
}

.label__pow,
.label__spd,
.label__wiz {
    font-weight: bold;
}
.label__pow {
    background: var(--color-pow);
}
.label__spd {
    background: var(--color-spd);
}
.label__wiz {
    background: var(--color-wiz);
}
